body {
    font-family: Arial, sans-serif;
    background-color: white;
    
}

.container {
    padding: 0px 32px 32px 32px;
}

.title {
    text-align: center;
    background-color: #6FCAA4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    text-align: center;
}
.title {
    margin: 0;
}

.title h1 { 
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30pt;
    padding: 32px;
}

#searchContainer input[type=text] {
    padding: 16px;
    border: none;
    background: #f1f1f1;
    font-size: 20px;
}

#searchContainer input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

#searchContainer input[type=submit] {
    color: white;
    background-color: #6FCAA4;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

#searchContainer input[type=submit]:hover {
    border-radius: 25px;
    opacity: 0.8;
}

.addForm {
    padding: 16px;
    max-width: 400px;
    display: none;
    border: 3px solid #f1f1f1;
    float: right;
}

.addForm input[type=text] {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border: none;
    margin: 4px 0 16px 0;
    background: #f1f1f1;
}

.addForm input[type=text]:focus, .addForm input[type=number]:focus{
    background-color: #ddd;
    outline: none;
}

.addForm input[type=number] {
    border: none;
    margin: 4px 0 16px 0;
    background: #f1f1f1;
    text-align: center;
}

.addForm select {
    width: 100%;
    padding: 16px;
    margin: 4px 0 16px 0;
}

.addForm .button {
    width: 100%;
    background-color: #6FCAA4;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    margin-bottom:8px;
    transition: 0.3s;
}

.addForm .button:hover{
    opacity: 0.8;
    border-radius: 25px;
}

.addForm .cancel {
    background-color: red;
}

.openFormButton {
    background-color: #6FCAA4;
    padding: 16px;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    float: right;
}

.openFormButton:hover {
    opacity: 0.8;
    border-radius: 25px;
}

.exerciseTable {
    width: 100%;
    border-collapse: collapse;
}

.exerciseTable td, .exerciseTable th {
    padding: 8px;
}

.exerciseTable th {
    text-align: left;
    background-color: #6FCAA4;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}

.exerciseTable td {
    border: 1px solid #ddd;
}

.exerciseTable tr:nth-child(odd) {
    background-color: #ddd;
}

.linkCardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.linkCard {
    background-color: #ddd;
    border-radius: 25px;
    width: 300px;
    text-align: center;
    align-content: center;
    margin-right: 16px;
    margin-bottom: 16px;
}

.linkCard h2 {
    color: black;
    padding: 32px;
}

#addWorkoutButton {
    background-color: #6FCAA4;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
}

#addWorkoutButton h2 {
    color: white;
}


#createWorkoutForm {
    width: 500px;
    display: block;
    float: none;
    align-self: center;
}

#createWorkoutForm #setLabels {
    display: flex;
    justify-content: space-between;
}

.setInput {
    display: flex;
    justify-content: space-between;
    justify-items: left;
}

.setInput input[type=text] {
    width: 20ch;
}

.setInput input[type=number] {
    width: 6ch;
}

#createWorkoutForm #removeSetButton {
    background-color: red;
    display: none;
}

#createWorkoutForm input[type=submit] {
    padding: 16px;
    margin-top: 16px;
    width: min-content;
}