<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Nate's Fitness App</title>
        <link rel="stylesheet" href="/styles/stylesheet.css">
    </head>
    <body>
        <a href="/" style="text-decoration: none;">
            <div class="title">
                <h1>Nate's Fitness App</h1>
            </div>
        </a>
        <div class="linkCardsContainer">
            <a href="/exercises" style="text-decoration: none;">
                <div class="linkCard">
                    <h2>View Exercises</h2>
                </div>
            </a>
            <a href="/workouts" style="text-decoration: none;">
                <div class="linkCard">
                    <h2>View Workouts</h2>
                </div>
            </a>
        </div>
    </body>
</html>